h1 {
    color: royalblue;
}

#insert {
    font-family: "Segoe UI", sans-serif;
}

.add {
    font-family: "Segoe UI", sans-serif;
}

.row {
    width: 20%;
    height: 30px;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}